<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Page Title</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../res/public/css/style.css">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700|Merriweather:300,400,700">

</head>

<body>


    <header class="site-header" role="banner">

        <h1 class="site-title">
            <a href="index.php" rel="home">Puli example</a>
        </h1>

        <h2 class="site-description">
            I am a Twig page.
        </h2>

    </header> <!-- /.site-header -->


    <div class="site-content">

        <!-- Main navigation -->
        <nav class="main-navigation" role="navigation">

            <h1 class="screen-reader-text">Menu</h1>

            <ul>
                <li class="current"><a href="index.php">Home</a></li>
            </ul>

        </nav> <!-- ./main-navigation -->


        <main role="main">


            <article class="entry">

                <header class="entry-header">
                    <h1 class="entry-title">
                        <a href="#" title="Post Heading" rel="bookmark">
                            Info
                        </a>
                    </h1>
                </header> <!-- /.entry-header -->

                <!-- Image thumbnail -->
                <a href="#" title="Info">
                    <img src="../res/public/images/200x200.gif" alt="Post thumbnail" class="thumbnail" />
                </a>

                <div class="entry-content">
                    <p>
                        <strong>Note that the CSS and the image on this page are loaded by relative path.</strong>
                    </p>

                    <p>
                        Ut tempus scelerisque orci ac consectetur. Donec sollicitudin, tortor vel posuere ornare, justo eros vehicula arcu, ut imperdiet sapien sapien sit amet purus. Sed tincidunt orci odio, in luctus ligula tristique congue. Duis tempus et urna sed pharetra. Ut sit amet faucibus nulla, non semper tortor. Donec vitae tempor metus. Nulla ante mauris, vehicula ut dui et, maximus faucibus turpis. Aenean ultricies feugiat libero, et ullamcorper orci consectetur sit amet. Quisque ornare venenatis augue sed aliquam. Curabitur vitae volutpat metus.
                    </p>

                    <p>
                        <a href="#" class="more-link">
                            Continue reading <span class="meta-nav">&rarr;</span>
                        </a>
                    </p>
                </div> <!-- ./entry-content -->

                <footer class="entry-meta">
                    Posted in <a href="#" rel="category">Category Name</a>
                    on <time class="entry-date" datetime="2012-06-25">February 22 2014</time>
                    by <a href="#" rel="author">Author Name</a>
                </footer> <!-- /.entry-meta -->

            </article> <!-- ./entry -->


        </main> <!-- /main -->


        <aside class="sidebar" role="complementary">


            <!-- Non-working search form -->
            <form action="#" class="search-form widget" role="search">
                <label class="screen-reader-text" for="s">Search for:</label>
                <input type="search" name="s" id="s" placeholder="Search..." value="">
                <input type="submit" value="Search">
            </form> <!-- ./search-form -->


            <section class="widget">
                <h1 class="widget-title">Sidebar heading</h1>

                <ul>
                    <li><a href="#">Li element</a></li>
                    <li><a href="#">Li element</a></li>
                    <li><a href="#">Li element</a></li>
                    <li>Li element</li>
                    <li><a href="#">Li element</a></li>
                </ul>
            </section> <!-- ./widget -->


            <section class="widget">
                <h1 class="widget-title">Section</h1>

                <p>
                    Donec iaculis accumsan tristique. Nullam vestibulum odio a nunc blandit, a facilisis nisi pretium. Praesent et arcu quis lectus cursus accumsan
                </p>

                <p>
                    Nunc eu commodo nunc. Sed sit amet nisl in massa consectetur fermentum. Duis non mi risus. Phasellus non magna vel ipsum venenatis maximus.
                </p>
            </section> <!-- ./widget -->


        </aside> <!-- /.sidebar -->


    </div> <!-- ./site-content -->


    <footer role="contentinfo">

        <!-- You're free to remove the credit link to Jayj.dk in the footer,
            but please, please leave it there :) -->
        <p>
            Copyright &copy; 2015 <a href="#">Sitename.com</a>
            <span class="sep">|</span>
            Design by <a href="http://jayj.dk" title="Design by Jayj.dk">Jayj.dk</a>
        </p>

    </footer> <!-- /footer -->
</body>
</html>
